@import "tailwindcss";
@plugin "../tailwind-plugin/tw-theme";
@plugin "../tailwind-plugin/tw-bs-grid";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@theme {
  --border-gradient: linear-gradient(
    178deg,
    #1a1d21 1.71%,
    #6f6f6f 13.46%,
    #6f6f6f 50.1%,
    #6f6f6f 89.64%,
    #1a1d21 98.84%
  );

  --color-gradient: linear-gradient(
    90deg,
    #919191 8.68%,
    #ffffff 23.34%,
    #ffffff 56.71%,
    #919191 100%
  );
  --color-gradient-secondary: linear-gradient(
    180deg,
    rgba(4, 11, 32, 0.3) 0%,
    rgba(160, 160, 160, 0.3) 44.72%,
    rgba(4, 11, 32, 0.3) 100%
  );
}

@import "./safe.css";
@import "./utilities.css";

@layer base {
  @import "./base.css";
}

@layer components {
  @import "./components.css";
  @import "./navigation.css";
  @import "./buttons.css";
  @import "./search.css";
}
