.header {
  @apply bg-dark sm:bg-transparent py-4 absolute w-full! top-0 px-2;
}

/* navbar items */
.navbar {
  @apply relative flex flex-wrap items-center justify-between lg:rounded-full py-3 px-8;
 
}

.navbar-brand {
  @apply text-text-dark  text-xl font-semibold;
  image {
    @apply max-h-full max-w-full;
  }
}

.navbar-nav {
  @apply text-center lg:text-left;
}

.nav-link {
  @apply text-text hover:text-primary  block p-3 cursor-pointer transition lg:px-2 lg:py-3 uppercase;
}

.nav-dropdown {
  @apply mr-0;
}

.nav-dropdown > svg {
  @apply pointer-events-none;
}

.nav-dropdown-list {
  @apply bg-body/90 backdrop-blur-xl z-10 md:w-[500px] mx-auto rounded p-5 shadow-sm select-none;
}

.nav-dropdown-item {
  @apply [&:not(:last-child)]:mb-2;
}

.nav-dropdown-link {
  @apply text-text hover:text-primary block py-1 uppercase transition;
}

/* theme-switcher */
.theme-switcher {
  @apply inline-flex;

  label {
    @apply bg-border relative inline-block h-4 w-6 cursor-pointer rounded-2xl lg:w-10;
  }

  input {
    @apply absolute opacity-0;
  }

  span {
    @apply bg-dark absolute -top-1 left-0 flex h-6 w-6 items-center justify-center rounded-full transition-all duration-300;
  }

  input:checked + label {
    span {
      @apply lg:left-4;
    }
  }
}
